<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- jquery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>
    <body style="padding-top: 70px;">
        <!-- Top nav bar -->
        <%= erb :nav %>
        <!-- main -->
        <p>Hi <%= @first_name %> :)</p>
        <p><%= @join %></p>
        <img src="https://imageshack.com/i/idtBSk7Tg" class="img-responsive" alt="Responsive image" style="margin-top:80px;">
    </body>
</html>